#########################
# core apps
#########################

# include official directories
!projectGenerator/
!devApps/

# ignore bin folders' contents, except data folder therein
/devApps/*/bin/*
!/devApps/*/bin/data/

/devApps/*/.cproject
/devApps/*/.project
/devApps/*/.settings/

/montagne/*/bin/*
!/montagne/*/bin/data/

/montagne/*/.cproject
/montagne/*/.project
/montagne/*/.settings/
/montagne/artoolkitx/libs/*
/montagne/MontagneMagique/bin/data/shapes/*

/montagne/MontagneMagique/bin/data/old/*
/montagne/MontagneMagique/bin/data/videos/*
/montagne/MontagneMagique/bin/data/markers/*
/montagne/MontagneMagique/bin/data/autoscenes/*
/montagne/MontagneMagique/bin/data/autoscenes/template/PRINTEMPS_OURS_ZZZ_HAP.mov
/montagne/Sampler/obj/*

/montagne/MontagneMagique/bin/data/assets/images/*

*.mov
*.hap


# don't ignore the .gitignore file
!.gitignore

